<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/create.css" rel="stylesheet" type="text/css">
    <title>Todo App</title>
</head>
<body>
    <header class="header">
        <div class="divNav">
            <nav class="navbar">
                <div class="rightNav">
                    <a class="link" href="/">Acceuil</a>
                    <a class="link" href="/list">List Todo</a>
                    <a class="link" href="/create">Créé Todo</a>
                    <a class="link" href="/delete">Supprimer Todo</a>
                    <a class="link" href="/update">Mise à jour Todo</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <form name='createTodo' method="POST" class="form" action="/create">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <label for="task">Tâche à réalisé:</label>
            <input type="text" id="task" name="task" required>
          
            <label for="complete">Complété ? :</label>
            <input type="checkbox" id="complete" name="complete">
          
            <label for="due">Date de rendu:</label>
            <input type="date" id="due" name="due">
          
            <button type="submit">Ajouter</button>
          </form>
        </main>
</body>
</html>