<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link href="./public/css/list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div className="divNav">
            <nav className="navbar">
                <a href="/"><img src={logo} className="logo" alt="logo"/></a>
                <div className="rightNav">
                    <a className="link" href="/connexion">S'identifier</a>
                    <a className="link" href="/inscription">S'inscrire</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Tâche</th>
              <th>Complété</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach(function(task) { %>
              <tr>
                <td><%= task.id %></td>
                <td><%= task.task %></td>
                <td><%= task.complete ? 'Oui' : 'Non' %></td>
                <td><%= task.date %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </main>
</body>
</html>