<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link href="/css/list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="divNav">
            <nav class="navbar">
                <div class="rightNav">
                    <a class="link" href="/">Acceuil</a>
                    <a class="link" href="/list">List Todo</a>
                    <a class="link" href="/create">Créé Todo</a>
                    <a class="link" href="/delete">Supprimer Todo</a>
                    <a class="link" href="/update">Mise à jour Todo</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Tâche</th>
              <th>Complété</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach(function(task) { %>
              <tr>
                <td><%= task.id %></td>
                <td><%= task.task %></td>
                <td><%= task.complete ? 'Oui' : 'Non' %></td>
                <td><%= task.date %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </main>
</body>
</html>