<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/list">Liste des tâches</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Liste des tâches</h1>
        <ul>
            <% for (let i = 0; i < tasks.length; i++) { %>
                <li><%= tasks[i] %></li>
            <% } %>
        </ul>
    </main>
</body>
</html>