.divNav {
    position: absolute;
    top: 0%;
    width: 100%;
    box-shadow: 0 10px 16px rgba(68, 68, 68, 1),
    inset 0px -10px 16px 1px rgba(0, 0, 0, 5);
}

.logo {
    position: absolute;
    margin: 0%;
    top: 10%;
    left: 5%;
    height: 60px;
    width: auto;
    cursor: pointer;
}

.navbar {
    background-color: #232323;
    height: 75px;
    display: flex;
    position: sticky;
    align-items: center;
}

.rightNav {
    width: 70%;
    position: relative;
    left: 20%;
    text-align: right;
    margin-right: 10px;
}

.rightNav a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.rightNav a:hover {
    color: #bfc7d3;
}

.a {
    margin-left: 2%;
}

.header {
    margin-top: 0%;
    background-color: #232323;
    height: 75px;
    display: flex;
    position: sticky;
    align-items: center;
}

.main {
    position: relative;
    top: 20%;
    width: 250%;
    height: 100%;
}

.form {
    display: flex;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    color: black;
    margin-top: 20px;
    width: 100%;
    background-color: #232323;
    height: 100%;
}
